
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&family=Mulish:wght@200;300;400&family=Zen+Loop&display=swap');
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: azure;
}

.logo{
    width: 100px;
    height: 100px;
}

button{
    height: 4rem;
    width: 8rem;
    border: none;
    background-color: rgb(6, 158, 135);
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}